    ////////////////////////////////////////////////////////////////////////////////////////////////////
    // Default commands
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    // Run user script files
    exec joystick.cfg
    exec autoexec.cfg
    tf_time_loading_item_panels 0.0005
    exec hud/hud_always.cfg
    // Parse and stuff command line + commands to command buffer
    stuffcmds

    // Open initial menu screen and load the background bsp,
    // but only if no other level is being loaded, and we're not in developer mode
    startupmenu

    // Not used anymore, according to mastercoms
    // (previously was used long ago to use the CPU to scan for small decals to stop rendering)
    // Default: 5
   // r_decal_cullsize                                                1

    // Allow menu backgrounds to display randomly by unlocking all chapters
    // Default: 1
    sv_unlockedchapters
// demos
ds_log 1
    
sv_pure -1
echo [JOFREHUD] Applied default settings
echo [JOFREHUD] Applying HUD settings...
exec "hud/jofrehud.cfg"

// First RUN
alias chud_firstrun "exec hud/hud_firstrun.cfg"
exec "_jp_hud_has_run.txt"
chud_firstrun

// Setup
alias "jp_setup" "exec hud/jp_setup"
exec _jp_setup_complete.txt
jp_setup
    cc_lang english
    cc_subtitles 1
    closecaption 1
    cc_predisplay_time 0